.footer{
  background-color: #111;
  color: #666666;
  padding: 60px 0 20px;
  &-box{
    width: 35%
  }
  &__title{
    color: white;
    font-size: 3rem;
    margin-bottom: 25px;
  }
  &__info{
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  &__address{
    line-height: 2.2;
    margin-bottom: 20px;
    font-size: 1.3rem;
    & i{
      font-size: 1.3rem;
    }
  }
  &__copyrights{
    border-top: 1px solid #222;
    padding-top: 35px;
  }
  &__link{
    color: $primary-color;
  }
}