.loader{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60vh;
  transition:1s ease;
  opacity:1;
}
.loader-quart-9{
  border-radius: 50px;
  border: 5px solid rgba(255,255,255,0.1);

  -webkit-animation: border-opacity 0.5s linear infinite;

  animation: border-opacity 0.5s linear infinite;
}

.loader-quart-9:after{
  content: '';
  position: absolute;
  top: -5px; left: -5px; right: -5px; bottom: -5px;
  border: 5px solid transparent;
  border-top-color: $primary-color;
  border-bottom-color: $color-text-primary;
  border-radius: 50px;

  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}
@-webkit-keyframes border-opacity{
  0%{ border-color: rgba(255,255,255,0.1); }
  50%{ border-color: rgba(255,255,255,0.9);}
  100%{ border-color: rgba(255,255,255,0.1);}
}

@keyframes border-opacity{
  0%{ border-color: rgba(255,255,255,0.1); }
  50%{ border-color: rgba(255,255,255,0.9);}
  100%{ border-color: rgba(255,255,255,0.1);}
}
@-webkit-keyframes rotation{
  0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rotation{
  0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}