$primary-color: #f69314;
$color-text-primary: #001935;
$color-text-secondary: #777;
@font-face {
  font-family: 'luthierregular';
  src: url('../fonts/luthier-regular-webfont.woff2') format('woff2'),
  url('../fonts/luthier-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*{
  outline: none;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.listings {
  animation: transitionIn 1s;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  font-size: 10px;
}
body {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.7;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1240px){
  .container {
    max-width: 1090px;
  }
}
@media (min-width: 1367px){
  .container {
    max-width: 1210px;
  }
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
ul, span{
  margin: 0;
  padding: 0;
}
.mapboxgl-canvas{
  width: 100% !important;
}
.hidden{
  display: none !important;
  &-opacity{
    opacity: 0;
  }
}
.stop-scroll{
  overflow: hidden;
  position: relative;
}
.house{
  &__loader{
    top: -200vh;
    opacity: 0;
    animation: loader 3.2s;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    & div{
      animation: title 3s;
    }
  }
  &__text{
    color: black;
    opacity: 0;
    font-family: "luthierregular", "Helvetica", "Sans-serif";
    font-size: 6rem;
    font-weight: bold;
    padding-top: 15px;
  }
}
.pagination{
  &--end{
    display: none;
  }
  &--start{
    display: none;
  }
  font-size: 2rem;
  display: flex;
  color: black;
  & li{
    float: left;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding-left: 19px;
    padding-top: 7px;
    &.active{
      background-color: #f69314;
      opacity: .8;
      color: white;
    }
    &:first-child{
      padding-right: 19px;
    }
  }
}
@keyframes transitionIn {
   from{
     opacity: 0;
     transform: translateY(20px);
   }
   to{
     opacity: 1;
     transform: rotateY(0);
   }
 }
@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes disappear {
  0%{
    z-index: 10;
    top: 0;
    opacity: 1;
  }
  80%{
    z-index: 10;
    opacity: 1;
    top: 0;
  }
  100%{
    z-index: 10;
    opacity: 0;
    top: 0;
  }
}
@keyframes loader {
  0%{
    z-index: 10;
    top: 0;
    opacity: 1;
  }
  80%{
    z-index: 10;
    opacity: 1;
    top: 0;
  }
  100%{
    z-index: 10;
    opacity: 0;
    top: 0;
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}